:root {
    color-scheme: dark;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10%;
    border: 1px solid gray;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 5%;
    border: 1px solid gray;
}

.menu a {
    margin: 0px 5px 0px 5px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 75%;
    border: 1px solid gray;
}

.content iframe {
    position: relative;
    border: none;
    width: 50%;
    height: 40%;
}

.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.conversor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conversor div input {
    text-align: center;
}

.conversor div {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
}

.conversor div select {
    margin-left: 5px;
}

.conversor button{
    position: relative;
    width: 50%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10%;
    border: 1px solid gray;
}